.searchBar {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.searchInput {
  font-size: 16px;
  padding: 10px;
  width: 350px;
  outline: none;
  background-color: #ffffff;
  border: 2px solid #5b42f3;
  border-radius: 5px;
  color: #242424;
}

.searchBtn {
  width: 150px;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}